@{
    ViewBag.Title = "Home Page";
}

<div class=" ">
    <h1>Got Feedback?</h1>
    <p class="lead">Ask anything, get answers.</p>
</div>

<div class="">
  <div class="transition row @*information*@ visible">
    <div class="large basic inverted animated fade ui button">
      <div class="visible content">@Html.ActionLink("Ask a question", "New", "Questions")</div>
      <div class="hidden content">@Html.ActionLink("It takes about 10 seconds", "New", "Questions")</div>
    </div>
    <div class="large basic inverted animated fade ui button">
      <div class="visible content">@Html.ActionLink("Browse active questions", "Index", "Questions")</div>
      <div class="hidden content">@Html.ActionLink("And help your community", "Index", "Questions")</div>
    </div>
  </div></div>
