@{
  ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1 class="">Got Feedback?</h1>
  <p class="lead">Ask anything, get answers.</p>
</div>

<div class="">
  @Html.ActionLink("Ask a question", "New", "Topics", null, new{@class="btn btn-primary"})
  @Html.ActionLink("Browse active questions", "Index", "Topics", null, new { @class = "btn btn-primary" })
</div>
