@{
  ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1 class="">Got Feedback?</h1>
  <p class="lead">Ask anything, get answers.</p>
</div>

<div class="row">
  <div class="col-md-6">
    @Html.Action("New", "Topics")
  </div>
  <div class="col-md-6">
      @*
    @Html.ActionLink("Browse active questions", "Index", "Topics", null, new { @class = "btn btn-primary" })
*@
    @Html.Action("Index", "Topics")
  </div>
</div>
