@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
  using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
  {
    @Html.AntiForgeryToken()

    <div class="ui dropdown link item">
      Mon compte
      <i class="dropdown icon"></i>
      <div class="menu">
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage", @class = "item" })
        <a href="javascript:document.getElementById('logoutForm').submit()" class="item">Log off</a>
      </div>
    </div>
  }
}
else
{
  <div class="ui dropdown link item">
    Mon compte
    <i class="dropdown icon"></i>
    <div class="menu">
      @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "item" })
      @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "item" })
    </div>
  </div>
}
