@using GotFeedback.Models
@model GotFeedback.Models.Topic

@foreach (Comment item in Model.Comments)
{
    <p>@item.Message</p>
}

@Html.Partial("~/Views/Comments/_NewComment.cshtml", new Comment { TopicId = Model.Id })