@model IEnumerable<Comment>


<table class="table" id="TopicComments">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.Message)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Date)
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.Message)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Date)
      </td>
      <td></td>
    </tr>
  }
</table>
