@model Topic

@{
  ViewBag.Title = "New topic";
}
<h2 class="h3">Have something to say?</h2>
<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#idea" aria-controls="idea" role="tab" data-toggle="tab" class="nav-success">Idea</a></li>
    <li role="presentation"><a href="#bug" aria-controls="bug" role="tab" data-toggle="tab" class="nav-danger">Bug</a></li>
    <li role="presentation"><a href="#question" aria-controls="question" role="tab" class="nav-warning" data-toggle="tab">Question</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="idea">
          @Html.Partial("_NewTopic", new Topic{Category = TopicCategory.Idea})
      </div>
    <div role="tabpanel" class="tab-pane" id="bug">
      @Html.Partial("_NewTopic", new Topic { Category = TopicCategory.Bug })
    </div>
    <div role="tabpanel" class="tab-pane" id="question">
      @Html.Partial("_NewTopic", new Topic { Category = TopicCategory.Question })
    </div>
  </div>

</div>
<div class="clearfix"></div>